/* CSS Document */

body {margin-top:2px;
	  margin-left:5px;
	  font-family:Tahoma;
	  font-size:11px;
	  color:#333333;
	  padding:0px;
	  }

title {display: marker}

h1 {display: none; }
h2 {font-family:Tahoma ;
	font-size:20px;
	color:#0066FF;
	text-decoration:none;
	 text-indent:normal;
	 text-transform:none
	 }

div {background-color:gray}	
header , footer { display:run-in}

.lightBorder {border-bottom:#666666 1px solid}

.dates {font-family:Tahoma;
		font-size:11px;
		font-weight:bold;
		color:#FF0000
		}