@charset "utf-8";
/* CSS Document */

/*

BODY  {
		font-family:Tahoma;
		font-size:12px;
		COLOR:#333333;
		text-decoration:none;
		}
		*/
@MEDIA print {
	@page {
  size:portrait;
  margin:0.75in 0.45in 1in 0.75in;
   counter-increment: pages;
  
     @bottom {
				font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: normal;
                text-align: right;
                content: "Page " counter(pages);
            }
	}
title,A {display: none}
pre { page-break-inside: avoid }
h1 {display: none; }
h2 {font-family:Tahoma ;
	font-size:20px;
	color:#0066FF;
	text-decoration:none;
	 text-indent:normal;
	 text-transform:none
	 }

DIV {background-color:gray}	
BUTTON { display:none}

table { 
margin-top : 0em;
background-color:#CCCCCC;
margin-bottom : 0em;
border-collapse: collapse; 
page-break-after: avoid;
page-break-before: avoid;

}
td {font-size:11px; font-family:Tahoma; color:#333333; text-align: inherit }
th {font-weight: bold; font-size:11px; font-family:Tahoma; color:#333333 }

.lightBorder {border-bottom:#666666 1px solid}

thead { display: table-header-group; }
}