@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:11px; font-family:Arial;}
form{margin:0px; padding:0px;}
#container{width:100%; height:auto; margin:0 auto;}
img {border:0px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
p{margin:0px; padding:0px;}
#top{width:100%; height:82px; background:#77a3d9; margin:0px; padding:0px;}
#logo{width:16%; float:left; padding-top:8px; padding-right:0px;}
#boxright{width:80%; height:80px; text-align:left; float:right;}
#box1 {width:25%; float:left; }
#box1 p{font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; padding:4px 0px 0px 2px;}
#box2{width:52%; float:left;}
#logoright{width:22%; float:right; padding-top:0px; padding-right:5px; text-align:right;}
#box2 p{font-size:12px; font-family:Verdana, Arial, Helvetica, sans-serif; color:#FFFFFF; padding:4px 0px 0px 0px; text-align:right;}
#box2 .black{color:#000000;}
.white{color:#FFFFFF;}
/*tab start*/

/*tab end*/
.drawgameheader{
	font-size:14px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #9cceff;
	cursor: hand;	
}
.headerSelectfastlotto{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #513E74;
	cursor: hand;	
}
.headerSelectkeno{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #5d93c2;
	cursor: hand;	
}
.headerSelectkenotwo{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #330099;
	cursor: hand;	
}
.headerSelectkenosix{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color:  #00639c;
	cursor: hand;	
}
.headerSelectlotto{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #CCCC99;
	cursor: hand;	
}
.headerSelectzimlotto{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #F8AD40;
	cursor: hand;	
}
.headerSelectzimlottotwo{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #F8AD40;
	cursor: hand;	
}
.headerSelectzimlottobonus{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #F8AD40;
	cursor: hand;	
}
.headerSelectzimlottobonustwo{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #F8AD40;
	cursor: hand;	
}
.headerSelecttanzanialotto{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #F8AD40;
	cursor: hand;	
}
.headerSelectbonusballtwo{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #40BC16;
	cursor: hand;	
}
.headerSelectbonusballlotto{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #40BC16;
	cursor: hand;	
}
.headerSelectfortune{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #9acd5e;
	cursor: hand;	
}
.headerSelectcard12{
	font-size:14px;
	font-weight: bold;
	color: black;
	background-color: #ffdbdb;
	cursor: hand;	
}
.headerSelectcard16{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #970303;
	cursor: hand;	
}
.headerSelectzerotonine{
	font-size:14px;
	font-weight: bold;
	color: black;
	background-color: #2FADBB;
	cursor: hand;	
}
.headerSelecttwelvebytwentyfour{
	font-size:14px;
	font-weight: bold;
	color: white;
	background-color: #5d93c2;
	cursor: hand;	
}

#card12strip{width:100%; height:29px; background:gray; clear:both;}
#card16strip{width:100%; height:29px; background:gray; clear:both;}
#fortunestrip{width:100%; height:29px; background:gray; clear:both;}
#strip{width:100%; height:29px; background:gray; clear:both;}
#strip1{width:130%; height:29px; background:gray ; clear:both;}
#strip img {float:left; margin-top:5px; padding-left:5px;}
.borderbtmcard16{text-align:left;padding-left:5px; font-family: Arial;font-size: 12px;font-weight: bold;color:#970303;}
.borderbtmfortune{border-bottom:1px #83b34b solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#436A15;}
.borderbtmzerotonine{border-bottom:1px #0E5E67 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#0E5E67;}
.nextdrawfortune{left: 0px;float: left;}
.nextdrawzerotonine{left: 0px;float: left;}
.nextdrawkenosix{left: 0px;float: left;}
.borderbtmkeno{border-bottom:1px #00639c solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#00639c;}
.borderbtmkenotwo{border-bottom:1px #3333CC solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#3333CC;}
.borderbtmtwelvebytwentyfour{border-bottom:1px #3333CC solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#3333CC;}
.borderbtmkenosix{border-bottom:1px #3333CC solid;text-align:left; padding-left:0px;font-family: Arial;font-size: 12px;font-weight: bold;color:#3333CC;}
.borderbtmlotto{border-bottom:1px #666633 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#666633;}
.borderbtmfastlotto{border-bottom:1px #FFFFFF solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#513E74;}
.borderbtmzimlotto{border-bottom:1px #DD8C17 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#DD8C17;}
.borderbtmzimlottotwo{border-bottom:1px #DD8C17 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#DD8C17;}
.borderbtmzimlottobonus{border-bottom:1px #DD8C17 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#DD8C17;}
.borderbtmtanzanialotto{border-bottom:1px #DD8C17 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#DD8C17;}
.borderbtmbonusballtwo{border-bottom:1px #155E33 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#155E33;}
.borderbtmbonusballlotto{border-bottom:1px #155E33 solid;text-align:left; padding-left:10px;font-family: Arial;font-size: 12px;font-weight: bold;color:#155E33;}
.borderbtmcard12{ text-align:left; padding-left:5px;font-family: Arial;font-size: 12px;font-weight: bold;color:#fb0000;}
.txt1{color:#000000;}
.borderbtmfortune span{font-weight:bold;}
.borderbtmzerotonine span{font-weight:bold;}
.borderbtmlotto span{font-weight:bold;}
.borderbtmkeno span{font-weight:bold;}
.borderbtmkenotwo span{font-weight:bold;}
.borderbtmkenosix span{font-weight:bold;}
.txt2{color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:left; font-size:11px;}
.txt3{color:#000000; font-weight:bold; font-size:12px;}
.txt4{font-size:18px; font-weight:bold; color:#FFFFFF;}
.txt5{font-size:17px; font-weight:bold; color:#000000;}
.txt6{color:#3c551e; font-size:15px;}
.txt7{font-size:12px;  color:#b27500;text-decoration: underline; background: #f8c929;}
.txt8{font-size:12px;  color:#FFFFFF;}
.txt9{font-size:13px; font-weight:bold; color:#ffffff;}

.txt10{font-size:13px; font-weight:normal; color:#ffffff;}

.circle {
      -moz-border-radius: 10px;
    -webkit-border-radius: 10px; 
     border-radius: 10px;  

  }

.tab {
	BORDER-LEFT-COLOR: #8fc7ea;
	BORDER-BOTTOM-COLOR: #8fc7ea;
	BORDER-TOP-COLOR: #8fc7ea;
	BORDER-COLLAPSE: collapse;
	BACKGROUND-COLOR: #FFFFFF;
	BORDER-RIGHT-COLOR: #8fc7ea;
}


.text {
	padding: 2px;
	border:1px solid blue;
	color:#777;
	font-family: Verdana, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
