@charset "utf-8";

/* CSS Document */
body {
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

h1 {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 45px;
}

p {
	text-align: justify;
	padding: 5px 10px 0px 10px;
}

.priz {
	color: #FFFFFF;
	font-weight: bold;
}

.pd {
	color: #FFFFFF;
	font-weight: bold;
	padding-left: 4px;
}

.pd_txt {
	padding-left: 4px;
}

/*-----------------------------------cards 16 help page-------------------------------*/
#card16_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #e5e5e5;
	text-align: center;
}

.hd_card16 {
	color: #970303;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.rd {
	color: #970303;
}

.card16_header_bgcolor {
	background: #970303;
}

#tabcard16 {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabcard16 td {
	border-top: 1px #970303 solid;
	border-left: 1px #970303 solid;
	height: 20px;
}

/*-----------------------------------cards 16 help page--------------------------------*/
	/*-----------------------------------Fortune help page-------------------------------*/
#fortune_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #e5facb;
	text-align: center;
}

.fortune_header_bgcolor {
	background: #749a47;
}

.hd_fortune {
	color: #426b12;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.gr {
	color: #426b12;
}

#tabfortune {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabfortune td {
	border-top: 1px #749a47 solid;
	border-left: 1px #749a47 solid;
	height: 20px;
}

/*-----------------------------------Fortune help page-------------------------------*/
	/*-----------------------------------Wincard help page-------------------------------*/
#wincard_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #f0dbdb;
	text-align: center;
}

.wincard_header_bgcolor {
	background: #fb0000;
}

.hd_wincard {
	color: #d00101;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.winc {
	color: #d00101;
}

#tabwincard {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabwincard td {
	border-top: 1px #fb0000 solid;
	border-left: 1px #fb0000 solid;
	height: 20px;
}

/*-----------------------------------Wincard help page-------------------------------*/
	/*-----------------------------------Winfast help page-------------------------------*/
#winfast_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #ddf1f3;
	text-align: center;
}

.winfast_header_bgcolor {
	background: #2fadbb;
}

.hd_winfast {
	color: #0a6872;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.winfastc {
	color: #0a6872;
}

#tabwinfast {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabwinfast td {
	border-top: 1px #2fadbb solid;
	border-left: 1px #2fadbb solid;
	height: 20px;
}

/*-----------------------------------Winfast help page-------------------------------*/
	/*-----------------------------------fastlotto help page-------------------------------*/
#fastlottot_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #d4d4ea;
	text-align: center;
}

.fastlotto_header_bgcolor {
	background: #513e74;
}

.hd_fastlotto {
	color: #381e69;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.fastlo {
	color: #381e69;
}

#tab {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tab td {
	border-top: 1px #513e74 solid;
	border-left: 1px #513e74 solid;
	height: 20px;
}

#tabfastlotto {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabfastlotto td {
	border-top: 1px #513e74 solid;
	border-left: 1px #513e74 solid;
	height: 20px;
}

/*-----------------------------------fastlotto help page-------------------------------*/
	/*-----------------------------------zimlotto help page-------------------------------*/
#zimlotto_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #f5eee2;
	text-align: center;
}

.zimlotto_header_bgcolor {
	background: #f8ad40;
}

.hd_zimlotto {
	color: #dc8c18;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.zimlo {
	color: #dc8c18;
}

#tabzim {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabzim td {
	border-top: 1px #f8ad40 solid;
	border-left: 1px #f8ad40 solid;
	height: 20px;
}

#tabsml {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabsml td {
	border-top: 1px #f8ad40 solid;
	border-left: 1px #f8ad40 solid;
	height: 20px;
}

/*-----------------------------------zimlotto help page-------------------------------*/
	/*-----------------------------------keno help page-------------------------------*/
#keno_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #e1eef9;
	text-align: center;
}

.keno_header_bgcolor {
	background: #00639c;
}

.hd_keno {
	color: #005180;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.keno_txt {
	color: #005180;
}

#tabkeno {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabkeno td {
	border-top: 1px #005180 solid;
	border-left: 1px #005180 solid;
	height: 20px;
}

#tabsmlkeno {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

#tabsmlkeno td {
	border-top: 1px #005180 solid;
	border-left: 1px #005180 solid;
	height: 20px;
}

/*-----------------------------------zimlotto help page-------------------------------*/
	/*-----------------------------------zimlotto help page-------------------------------*/
#loto_wrap {
	width: 911px;
	min-height: 550px;
	height: auto;
	margin: 0 auto;
	background: #e8e8b9;
	text-align: center;
}

.loto_header_bgcolor {
	background: #666633;
}

.hd_loto {
	color: #666633;
	font-size: 16px;
	padding-left: 10px;
	font-family: Arial, Helvetica, sans-serif
}

.loto_txt {
	color: #666633;
}

#loto_text {
	width: 90%;
	height: 100px;
	background: #cccc99;
	color: #6f6f40;
	border: 1px #666633 solid;
	margin: 0 auto;
	font-weight: bold;
	font-size: 12px;
	padding: 5px;
}
/*-----------------------------------zimlotto help page-------------------------------*/