table.sortable tr.odd td {
	background-color: #ddd;
}
table.sortable tr.even td {
	background-color: #fff;
}
table.sortable tr.odd th {
	background-color: #ddd;
}
table.sortable tr.even th {
	background-color: #fff;
}
table.sortable tr.sortbottom td {
	border: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}
table.sortable tr.sortbottom th {
	border: 1px solid #444;
	background-color: #ccc;
	font-weight: bold;
}
