* {
	margin: 0 auto;
	padding: 0;
}

body {
	font-family: Arial;
	font-size: 12px;
	color: #000000;
	text-align: center;
}

a:link {
	color: #0033CC;
	text-decoration: none;
}

a:hover {
	color: #FF0000;
	text-decoration: underline;
}

.menu_background {
	background: url(images1/menu_background.jpg);
}

.zimlottowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #DD8C17;
	text-align: center;
}

.zimlottotwowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #DD8C17;
	text-align: center;
}
.zimlottobonuswinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #DD8C17;
	text-align: center;
}
.zimlottobonustwowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #DD8C17;
	text-align: center;
}
.tanzanialottowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #DD8C17;
	text-align: center;
}
.bonusballtwowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #155E33;
	text-align: center;
}
.bonusballlottowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #155E33;
	text-align: center;
}
.fastlottowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
}

.lottowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
}

.kenowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
}
.kenotwowinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
}
.kenosixwinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
}
input.Sunsigntext {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #FFFFFF;
	width: 30px;
	color: #000000;
}

input.text {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #FFFFFF;
	padding: 2px;
	color: #000000;
}

input.submit {
	border: none;
	background: #6f9344;
	padding: 2px;
	cursor: pointer;
}

input.lottosubmit {
	border: none;
	background: #aaaaaa;
	padding: 2px;
	cursor: pointer;
}

input.kenotext {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #f8f8f8;
	padding: 2px;
	color: #000000;
}

input.kenotwotext {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #f8f8f8;
	padding: 2px;
	color: #000000;
}

input.kenosixtext {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #f8f8f8;
	padding: 2px;
	color: #000000;
}

.fortune_nextDwran_numbers {
	font-size: 11px;
	color: #000000;
	height: 14px;
}

.fortune_winningResult_table {
	border: 2px solid #638d31;
}

.menu_background {
	background: url(images1/menu_background.jpg);
}

.menu_background_keno {
	background: url(images1/menu_background_keno.jpg);
}
.menu_background_kenotwo {
	background: url(images1/menu_background_kenotwo.jpg);
}
.menu_background_kenosix {
	background: url(images1/menu_background_kenotwo.jpg);
}
input.text {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #FFFFFF;
	padding: 2px;
	color: #000000;
}

input.submit {
	border: none;
	background: #6f9344;
	padding: 2px;
	cursor: pointer;
}

input.selected_keno {
	background: #ffffff;
	border: 1px solid #00639c;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	color: #00466E;
}

input.selected_kenoHidden {
	background: #ffffff;
	border: 1px solid #00639c;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	visibility: hidden;
}

input.keno_submit {
	border: none;
	background: #a17326;
	padding: 2px;
	cursor: pointer;
}

select.keno_option {
	border: 1px solid #a17326;
	padding: 2px;
}


.keno_picktype_border {
	border: #c88b3b 2px solid;
}

.keno_winningResult_numbers {
	width: 24px;
	height: 23px;
	background: #795518;
	color: #FFFFFF
}

input.selected_numbers_keno {
	background: #fbfc96;
	border: 1px solid #a68839;
	color: 324859;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	width: 25px;
	height: 25px;
}

.keno_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

.keno_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}


input.selected_kenotwo {
	background: #ffffff;
	border: 1px solid #00639c;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	color: #00466E;
}

input.selected_kenotwoHidden {
	background: #ffffff;
	border: 1px solid #00639c;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	visibility: hidden;
}

input.kenotwo_submit {
	border: none;
	background: #a17326;
	padding: 2px;
	cursor: pointer;
}

select.kenotwo_option {
	border: 1px solid #a17326;
	padding: 2px;
}


.kenotwo_picktype_border {
	border: #c88b3b 2px solid;
}

.kenotwo_winningResult_numbers {
	width: 24px;
	height: 23px;
	background: #795518;
	color: #FFFFFF
}

input.selected_numbers_kenotwo {
	background: #fbfc96;
	border: 1px solid #a68839;
	color: 324859;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	width: 25px;
	height: 25px;
}

.kenotwo_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

.kenotwo_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

input.selected_kenosix {
	background: #ffffff;
	border: 1px solid #00639c;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	color: #00466E;
}

input.selected_kenosixHidden {
	background: #ffffff;
	border: 1px solid #00639c;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	visibility: hidden;
}

input.kenosix_submit {
	border: none;
	background: #a17326;
	padding: 2px;
	cursor: pointer;
}

select.kenosix_option {
	border: 1px solid #a17326;
	padding: 2px;
}


.kenosix_picktype_border {
	border: #c88b3b 2px solid;
}

.kenosix_winningResult_numbers {
	width: 24px;
	height: 23px;
	background: #795518;
	color: #FFFFFF
}

input.selected_numbers_kenosix {
	background: #fbfc96;
	border: 1px solid #a68839;
	color: 324859;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	width: 25px;
	height: 25px;
}

.kenosix_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

.kenosix_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

.lotto_winningResult_table {
	background: #CCCC99;
	border: 1px solid #666633;
	margin-bottom: 7px;
}

.fastlotto_winningResult_table {
	background: #8270A5;
	border: 1px solid #513E74;
	margin-bottom: 7px;
}

.zimlotto_winningResult_table {
	background: #FFDF96;
	border: 1px solid #F8AD40;
	margin-bottom: 7px;
}

.zimlottotwo_winningResult_table {
	background: #FFDF96;
	border: 1px solid #F8AD40;
	margin-bottom: 7px;
}
.zimlottobonus_winningResult_table {
	background: #FFDF96;
	border: 1px solid #F8AD40;
	margin-bottom: 7px;
}
.zimlottobonustwo_winningResult_table {
	background: #FFDF96;
	border: 1px solid #F8AD40;
	margin-bottom: 7px;
}
.tanzanialotto_winningResult_table {
	background: #FFDF96;
	border: 1px solid #F8AD40;
	margin-bottom: 7px;
}
.bonusballtwo_winningResult_table {
	background: #7dc924;
	border: 1px solid #155E33;
	margin-bottom: 7px;
}
.bonusballlotto_winningResult_table {
	background: #7dc924;
	border: 1px solid #155E33;
	margin-bottom: 7px;
}
.keno_winningResult_table {
	background: #639CCE;
	border: 1px solid #00639c;
	margin-bottom: 7px;
}
.kenotwo_winningResult_table {
	background: #639CCE;
	border: 1px solid #00639c;
	margin-bottom: 7px;
}
.kenosix_winningResult_table {
	background: #639CCE;
	border: 1px solid #00639c;
	margin-bottom: 7px;
}
.kenosix_nxtDrw_table {
	background: #639CCE;
	border: 1px solid #00639c;
	margin-bottom: 3px;
}
.lotto_numbers {
	font-family: "Arial";
	color: #ffae00;
	font-size: 12px;
	font-weight: 700
}

.lotto_result_number {
	font-family: Calibri, "Californian FB", "Calisto MT", Cambria,
		"Cambria Math";
	font-size: 16px;
	color: #FFFFFF;
}

.selected_lotto_numbers_draws {
	background: #669999;
	color: white;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	width: 20px;
	height: 23px;
	padding-left: 7px;
}

.selected_win_lotto_numbers {
	background: #FFFFFF;
	color: #666633;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
}

.selected_win_zimlotto_numbers {
	background: #FFFFFF;
	color: #DD8C17;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
}

.selected_win_zimlottotwo_numbers {
	background: #FFFFFF;
	color: #DD8C17;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
}
.selected_win_zimlottobonus_numbers {
	background: #FFFFFF;
	color: #DD8C17;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
}
.selected_win_zimlottobonustwo_numbers {
	background: #FFFFFF;
	color: #DD8C17;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
}
.selected_win_tanzanialotto_numbers {
	background: #FFFFFF;
	color: #DD8C17;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
}
.selected_win_bonusballtwo_numbers {
	background: #FFFFFF;
	color: #155E33;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
	spacing: 5px;
}
.selected_win_bonusballlotto_numbers {
	background: #FFFFFF;
	color: #155E33;
	font-weight: bold;
	font-family: "Arial";
	font-size: 17px;
	height: 25px;
	text-align: center;
	padding: 5px;
	spacing: 5px;
}
.selected_win_keno_numbers {
	background: #9CCEFF;
	color: #00466E;
	font-weight: bolder;
	font-family: "Arial";
	font-size: 18px;
	height: 26px;
}
.selected_win_kenotwo_numbers {
	background: #9CCEFF;
	color: #00466E;
	font-weight: bolder;
	font-family: "Arial";
	font-size: 18px;
	height: 26px;
}

.selected_win_kenosix_numbers {
	background: #9CCEFF;
	color: #00466E;
	font-weight: bolder;
	font-family: "Arial";
	font-size: 18px;
	height: 26px;
}

.selected_nxtDrw_kenosix_drawname {
	background: #9CCEFF;
	color: #00466E;
	font-weight: bolder;
	font-family: "Arial";
	font-size: 18px;
	height: 5px;
}

.selected_win_fastlotto_numbers {
	background: #C3C3E5;
	color: #513E74;
	font-weight: bolder;
	font-family: "Arial";
	font-size: 18px;
	height: 26px;
}

.selected_keno_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_keno_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_keno_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_keno_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}


.selected_kenotwo_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenotwo_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenotwo_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenotwo_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenosix_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenosix_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenosix_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_kenosix_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #00639c;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_lotto_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #666633;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 20px;
}

.selected_lotto_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 20px;
}

.selected_lotto_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #666633;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 20px;
}

.selected_lotto_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #666633;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 20px;
}

.selected_fastlotto_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #443266;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 33px;
}

.selected_fastlotto_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 33px;
}

.selected_fastlotto_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #443266;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 33px;
}

.selected_fastlotto_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #443266;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 33px;
}

.selected_zimlotto_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlotto_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlotto_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlotto_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottotwo_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottotwo_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottotwo_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottotwo_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}
.selected_zimlottobonus_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}
.selected_zimlottobonustwo_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottobonus_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}
.selected_zimlottobonustwo_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottobonus_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottobonus_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}
.selected_zimlottobonustwo_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_zimlottobonustwo_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}
.selected_tanzanialotto_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_tanzanialotto_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_tanzanialotto_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_tanzanialotto_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #DD8C17;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}
.selected_bonusballtwo_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #155E33;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballtwo_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballtwo_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #155E33;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballtwo_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #155E33;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballlotto_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #155E33;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballlotto_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballlotto_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #155E33;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}

.selected_bonusballlotto_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #155E33;
	text-align: center;
	padding: 7px 4px 6px 6px;
	height: 24px;
}


input.selected_lotto {
	background: #ffffff;
	border: 1px solid #666633;
	color: #666633;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}

input.selected_zimlotto {
	background: #ffffff;
	border: 1px solid #DD8C17;
	color: #DD8C17;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}

input.selected_tanzanialotto {
	background: #ffffff;
	border: 1px solid #DD8C17;
	color: #DD8C17;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}
input.selected_zimlottotwo {
	background: #ffffff;
	border: 1px solid #DD8C17;
	color: #DD8C17;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}
input.selected_zimlottobonus {
	background: #ffffff;
	border: 1px solid #DD8C17;
	color: #DD8C17;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}
input.selected_zimlottobonustwo {
	background: #ffffff;
	border: 1px solid #DD8C17;
	color: #DD8C17;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}
input.selected_bonusballtwo {
	background: #ffffff;
	border: 1px solid #155E33;
	color: #155E33;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}
input.selected_bonusballlotto {
	background: #ffffff;
	border: 1px solid #155E33;
	color: #155E33;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}
input.selected_fastlotto {
	background: #ffffff;
	border: 1px solid #443266;
	color: #513E74;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	font-size: 14px;
	width: 20px;
	height: 20px;
}

.simpleText {
	padding: 2px;
	border: 1px solid blue;
	color: #777;
	font-family: Verdana, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.fortune_option {
	width: auto;
	padding: 2px;
	font: normal 12px Tahoma;
	padding: 2px 0px;
	color: #4284B0;
}

.option_zerotonine {
	width: auto;
	padding: 2px;
	font: bold 12px Arial;
	padding: 2px 0px;
	color: #0E5E67;
}

.infoGame {
	position: absolute;
	width: 930px;;
	height: 350px;
	background-color: white;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
}

.hideGame {
	position: absolute;
	width: 100%;
	height: 500px;
	background-color: black;
	text-align: center;
	vertical-align: middle;
	overflow-y: scroll;
	overflow-x: scroll;
	filter: alpha(opacity =   60);
}

.twelvebytwentyfourwinningResultTime {
	font-family: "Arial";
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
	text-align: left;
}

input.twelvebytwentyfourtext {
	border: 1px solid #c7d6b5;
	font-family: Arial;
	background: #f8f8f8;
	padding: 2px;
	color: #000000;
}

.menu_background_twelvebytwentyfour {
	background: url(images1/menu_background_kenotwo.jpg);
}

input.selected_twelvebytwentyfour {
	background: #ffffff;
	border: 1px solid #4C787E;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	color: #00466E;
}

input.selected_twelvebytwentyfourHidden {
	background: #ffffff;
	border: 1px solid #4C787E;
	color: 324859;
	font-weight: 800;
	text-align: center;
	vertical-align: middle;
	font-family: "Arial";
	font-size: 14px;
	width: 18px;
	height: 18px;
	visibility: hidden;
}

input.twelvebytwentyfour_submit {
	border: none;
	background: #a17326;
	padding: 2px;
	cursor: pointer;
}

select.twelvebytwentyfour_option {
	border: 1px solid #a17326;
	padding: 2px;
}


.twelvebytwentyfour_picktype_border {
	border: #c88b3b 2px solid;
}

.twelvebytwentyfour_winningResult_numbers {
	width: 24px;
	height: 23px;
	background: #795518;
	color: #FFFFFF;
}

input.selected_numbers_twelvebytwentyfour {
	background: #fbfc96;
	border: 1px solid #a68839;
	color: 324859;
	font-weight: 800;
	text-align: center;
	font-family: "Arial";
	width: 25px;
	height: 25px;
}

.twelvebytwentyfour_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

.twelvebytwentyfour_nextDwran_numbers {
	font-size: 11px;
	color: #FFFFFF;
	height: 14px;
}

.twelvebytwentyfour_winningResult_table {
	background: #639CCE;
	border: 1px solid #4C787E;
	margin-bottom: 7px;
}

.selected_win_twelvebytwentyfour_numbers {
	background: #9CCEFF;
	color: #00466E;
	font-weight: bolder;
	font-family: "Arial";
	font-size: 18px;
	height: 26px;
}

.selected_twelvebytwentyfour_numbers {
	background: #000000;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #4C787E;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_twelvebytwentyfour_numbersDisabled {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #4C787E;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_twelvebytwentyfour_numbersSelectOMO {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #4C787E;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}

.selected_twelvebytwentyfour_numbersSelect {
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	color: #4C787E;
	text-align: center;
	padding: 6px 4px 7px 6px;
	height: 23px;
}