@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:11px; font-family:Arial;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
img {border:0px;}
#container{width:980px; height:600px; margin:0 auto;}
#header{width:100%; height:108px;}
#header .wite{color:#FFFFFF; padding:0px 0px 0px 8px; font-size:12px;}
#header a{color:#FFFFFF; font-size:11px;}
#header a:hover{color:#000000;}

#tabbox{width:80%; margin:0 auto;}
#tabbox ul{margin:0px; padding:0px; list-style-type:none; margin-left:11px;}
#tabbox li{display:inline;}
#tabbox li a{float:left; background:#e0e0e0; text-decoration:none; font-size:11px; text-align:center; width: auto; height:18px; color:#000000; padding:5px 18px 0px 18px; font-weight:bold; font-family:Verdana, Arial, Helvetica, sans-serif; margin-right:1px;}
#tabbox li a:hover{background:#646464; color:#FFFFFF; }

#leftpanel{width:100%; height:auto; margin:0 auto; margin-top:3px; margin-left: 5px}
#rightpanel{width:100%; height:auto; background: #ffffff; margin-top:3px;}
#middle{width:513px; height:auto; margin:0 auto; background:#9acd5e; margin-top:3px; border:0px #749a47 solid; margin-bottom:4px;}
.borderbox{border:1px #ececec solid;}
.borderboxzerotonine{border:1px #2FADBB solid;}
.card16borderbox{border:1px #C2C2C2 solid;margin:4px 0px 2px 0px;background-color: #FFFFFF}
.lottoborderbox{border:1px #666633 solid;}
.fastlottoborderbox{border:1px #513E74 solid;}
.zimlottoborderbox{border:1px #F8AD40 solid;}
.zimlottotwoborderbox{border:1px #F8AD40 solid;}
.zimlottobonusborderbox{border:1px #F8AD40 solid;}
.tanzanialottoborderbox{border:1px #F8AD40 solid;}
.bonusballtwoborderbox{border:1px #155E33 solid;}
.bonusballlottoborderbox{border:1px #155E33 solid;}

.style1{color:#FFFFFF; font-size:14px; font-weight:bold; padding-left:3px;font-family: Arial;}
.style2{color:#cff4a3; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.card16style2{color:#fb0000; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.style2_zerotonine{color:#0E5E67; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.kenostyle2{color:#9cceff; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.kenotwostyle2{color:#9cceff; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.kenosixstyle2{color:#9cceff; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.lottostyle2{color:#CCCC99; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.fastlottostyle2{color:#C3C3E5; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.zimlottostyle2{color:#FFF1D2; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.zimlottotwostyle2{color:#FFF1D2; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.zimlottotwostyle2{color:#FFF1D2; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.zimlottobonusstyle2{color:#FFF1D2; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.zimlottobonusstyle2{color:#FFF1D2; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.tanzanialottostyle2{color:#F8FCF6; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}
.bonusballlottostyle2{color:#F8FCF6; padding-left:2px; font-size:12px;font-weight: bold;font-family: Arial;}

.style3{color:#ffffff; padding-left:3px; font-size:12px;}
.style4{color:#FFFFFF; font-size:12px; font-weight:bold; padding-left:2px;font-family: Arial;}
.style5{color:#FFFFFF; font-size:12px; font-weight:bold; padding:5px;}
.style6{color:#FFFFFF; font-size:14px; padding-left:4px;}
.style7{color:#004c77; font-weight:bold;}
.style8{color:#FFFFFF; font-size:10px; padding-top:4px; font-weight:bold;}
.lottotxtStyle{color:#FFFFFF; font-size:12px;font-weight:bold;}
.lottotextbox{width: 25px;font-size:12px;border: 1px #CCCC99 solid;color:#666633;}
.fastlottotxtStyle{color:#FFFFFF; font-size:12px;font-weight:bold;}
.fastlottotextbox{width: 25px;font-size:12px;border: 1px #513E74 solid;color:#513E74;}
.zimlottotxtStyle{color:#FFFFFF; font-size:14px;font-weight:bold;}
.zimlottotextbox{width: 25px;font-size:12px;border: 1px #DD8C17 solid;color:#DD8C17;}
.zimlottotwotxtStyle{color:#FFFFFF; font-size:14px;font-weight:bold;}
.zimlottotwotextbox{width: 30px;font-size:12px;border: 1px #DD8C17 solid;color:#DD8C17;}
.zimlottobonustxtStyle{color:#FFFFFF; font-size:14px;font-weight:bold;}
.zimlottobonustextbox{width: 30px;font-size:12px;border: 1px #DD8C17 solid;color:#DD8C17;}
.tanzanialottotxtStyle{color:#FFFFFF; font-size:14px;font-weight:bold;}
.tanzanialottotextbox{width: 30px;font-size:12px;border: 1px #DD8C17 solid;color:#DD8C17;}
.bonusballtwotxtStyle{color:#FFFFFF; font-size:14px;font-weight:bold;}
.bonusballtwotextbox{width: 30px;font-size:12px;border: 1px #155E33 solid;color:#155E33;}
.bonusballlottotxtStyle{color:#FFFFFF; font-size:14px;font-weight:bold;}
.bonusballlottotextbox{width: 30px;font-size:12px;border: 1px #155E33 solid;color:#155E33;}
.kenotxtStyle{color:#FFFFFF; font-size:12px;font-weight:bold;}
.kenotwotxtStyle{color:#FFFFFF; font-size:12px;font-weight:bold;}
.kenosixtxtStyle{color:#FFFFFF; font-size:12px;font-weight:bold;}
.kenotextbox{width: 48px;font-size:12px;border: 1px #00466E solid;color:#00466E;}
.kenotwotextbox{width: 48px;font-size:12px;border: 1px #00466E solid;color:#00466E;}
.kenosixtextbox{width: 48px;font-size:12px;border: 1px #00466E solid;color:#00466E;}
.style10{color:#FFFFFF; font-size:12px; font-weight:bold;}
.num{background:#d5faa9; font-weight:bold; text-align:center; font-size:12px; color:#749a47; padding:3px 4px 3px 4px;}
.card16num{background:#ffffff; font-weight:bold; text-align:center; font-size:12px; color:#970303; padding:3px 4px 3px 4px;}
.numzerotonine{background:#FFFFFF; font-weight:bold; text-align:center; font-size:12px; color:#0E5E67; padding:3px 4px 3px 4px;}
.kenonum{background:#9cceff; font-weight:bold; text-align:center; font-size:12px; color:#00639c; padding:3px 4px 3px 4px;}
.kenotwonum{background:#9cceff; font-weight:bold; text-align:center; font-size:12px; color:#00639c; padding:3px 4px 3px 4px;}
.kenosixnum{background:#9cceff; font-weight:bold; text-align:center; font-size:12px; color:#00639c; padding:3px 4px 3px 4px;}
.lottonum{background:#CCCC99; font-weight:bold; text-align:center; font-size:12px; color:#666633; padding:3px 4px 3px 4px;}
.zimlottonum{background:#FFF1D2; font-weight:bold; text-align:center; font-size:12px; color:#DD8C17; padding:3px 4px 3px 4px;}
.zimlottotwonum{background:#FFF1D2; font-weight:bold; text-align:center; font-size:12px; color:#DD8C17; padding:3px 4px 3px 4px;}
.zimlottobonusnum{background:#FFF1D2; font-weight:bold; text-align:center; font-size:12px; color:#DD8C17; padding:3px 4px 3px 4px;}

.tanzanialottonum{background:#FFF1D2; font-weight:bold; text-align:center; font-size:12px; color:#DD8C17; padding:3px 4px 3px 4px;}
.bonusballtwonum{background:#a0e352; font-weight:bold; text-align:center; font-size:12px; color:#155E33; padding:3px 4px 3px 4px;}
.bonusballlottonum{background:#a0e352; font-weight:bold; text-align:center; font-size:12px; color:#155E33; padding:3px 4px 3px 4px;}

.fastlottonum{background:#C3C3E5; font-weight:bold; text-align:center; font-size:12px; color:#443266; padding:3px 4px 3px 4px;}


.shade{width:35px; height:35px; background:url(images/shade_white.gif) left center no-repeat;  font-size:16px; font-family:Arial, Helvetica, sans-serif; font-weight:bold; color:#00639c; text-align:center; padding:0px 17px 2px 8px;}
.shade:hover{ color:#FFFFFF; cursor:pointer;}
.shade2{background:url(images/shade2.gif) left center no-repeat;}
.shade3{ background:#9cceff; color:#00639c; font-weight:bold; width:15px;}


#bottom{width:100%; height:25px; background:#646464; text-align:left; font-weight:bold; color:#FFFFFF; padding:8px 0px 0px 4px;}




