@charset "utf-8";
/* CSS Document */
body{margin:0px; padding:0px; font-size:11px; font-family:Verdana, Arial, Helvetica, sans-serif;}
form{margin:0px; padding:0px;}
#container{width:100%; height:auto; margin:0 auto;}
img {border:0px;}
a{text-decoration:none;}
a:hover{text-decoration:underline;}
p{margin:0px; padding:0px;}
#top{width:100%; height:82px; background:#77a3d9; margin:0px; padding:0px;}
#logo{width:16%; float:left; padding-top:0px; padding-right:0px;}
#boxright{width:80%; height:80px; text-align:left; float:right;}
#box1 {width:25%; float:left;}
#box1 p{font-size:12px; font-family:Arial;font-weight:bold; color:#FFFFFF; padding:2px 0px 0px 0px;}
#box2{width:52%; float:right;}
#logoright{width:22%; float:right; padding-top:5px; padding-right:5px; text-align:right;}
#box2 p{font-size:12px; font-family:Arial; color:#FFFFFF; padding:2px 0px 0px 0px; text-align:right;}
#box2 .black{color:#000000;}
.white{color:#FFFFFF;}
/*tab start*/
.tabnew{color:#ffffff; display:inline;}
.tabnew a{float:left; background-color:#E0E0E0;font-family:Arial; font-size:12px; font-weight:bold; width:auto; height:20px; text-align:center; color:#343434; padding:3px 5px 0px 5px; text-decoration:none; line-height:19px; margin-right:2px; margin-top:6px;}
.tabnewClick a{float:left; background-color:#646464;font-family:Arial; font-size:12px; font-weight:bold; width:auto; height:20px; text-align:center; color:#FFFFFF; padding:3px 5px 0px 5px; text-decoration:none; line-height:19px; margin-right:2px; margin-top:6px;}

/*.tabnew a:hover{background:#7ca946; text-decoration:none;}*/
/*tab end*/





#strip{width:100%; height:35px; background:#465835; clear:both;}
#strip img {float:left; margin-top:5px;}
.borderbtm{border-bottom:2px #83b34b solid; text-align:left; padding-left:10px;}
.txt1{color:#000000;}
.borderbtm span{font-weight:bold;}
.txt2{color:#FFFFFF; font-family:Verdana, Arial, Helvetica, sans-serif; text-align:left; font-size:11px;}
.txt3{color:#000000; font-weight:bold; font-size:12px;}
.txt4{font-size:18px; font-weight:bold; color:#FFFFFF;}
.txt5{font-size:17px; font-weight:bold; color:#000000;}
.txt6{color:#3c551e; font-size:10px;}
.txt7{font-size:16px; font-weight:bold; color:#FFFFFF;}
.txt8{font-size:14px; font-weight:bold; color:#8ec4f2;}
.txt9{font-size:13px; font-weight:bold; color:#ffffff;}

