/* CSS Document */

* {
}

body {
	color: #666666;
	text-align: center;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-size: 0.7em;
	float: none;
}

#drawgame_wrap{
 margin:0 auto;
 width: 995px;
 height: auto;
 background: #FFFFFF;	
}

a {
	color: #4284B0;
	background-color: inherit;
	text-decoration: none;
	width: 900px;
	text-align: right;
}



h1, h2, h3,h5 {
	font: bold 1em 'Trebuchet MS', Arial, Sans-serif;
	color: #333;	
}
h1 { font-size: 1.4em; color: #6297BC; } 
h2 { font-size: 1.3em; color: #7b7b97}
h3 { font-size: 1.2em; }
h5 { font-size: 1em; color:#ff6262;}

p, h1, h2, h3,h5 {
	margin: 10px 15px;
	font-style: normal;
}




/* form elements */
form {
	margin:10px; padding: 0;
	border: 1px solid #f2f2f2; 
	background-color: #F9F9FF; 
}

.withoutForm {
	padding: 0;
	background-color: #F9F9FF; 
}
label {
	
	font-weight:none;
	margin:5px 0;
}
input {
	padding: 2px;
	border:1px solid #999999;
	color:#777;
	font-family: Verdana, sans-serif;
	font-size: 1em;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}
textarea {
	width:300px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #eee;
	height:100px;
	display:block;
	color:#777;
}

input.button {
	margin: 0;
	font: bold 1em Arial, Sans-serif;
	border: 1px solid #CCC;
	background: #FFF;
	padding: 2px 3px;
	color: #4284B0;
	cursor: pointer;
}
.data{
	font-size: 11px;
	font-family: Verdana, Tahoma, Helvetica, sans-serif;
	color: #333;
	}
.bold_txt {
		font-weight:700;
		font-size: 11px;
		font-family: Verdana, Tahoma, Helvetica, sans-serif;
		color: #333;
}
input.textarea {
	width:300px;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #999999;
	padding: 2px 3px;
	color: #4284B0;
	cursor: hand;
}
select.option {
	width:auto;
	padding:2px;
	font: normal 1em Verdana, sans-serif;
	border:1px solid #999999;
	padding: 2px 3px;
	color: #4284B0;
	
}

#wrap {
	background: #FFF;
	width: 830px; height: 100%;
	margin: 0 auto;	
	text-align: left;
}
#content-wrap {
	clear: both;
	margin: 0;
	padding: 0;
	background-color: #4284B0;
	background-repeat: repeat-x;
}

/* header */
#header {
	height: 12px;
	background-color: #ffffff;
	background-image: url(../images/headerbg.gif);
	background-repeat: repeat-x;
	text-align: center;
	clear: both;
	float: none;
	position: relative;
}
#logo_image {
	background-image: url(../images/headerOrgImage.gif);
	background-position:center;
	height: 93px;
	width: 900px;
	background-color: #ffffff;
}


#main {
	float: left;
	margin-left: 5px;
	padding: 0;
	width: 100%;		
}



.float-left  { float: left; }
.float-right {	float: right; }
.align-left  {	text-align: left; }
.align-right {	text-align: right; }


.clear { clear: both; }
.green {	color: #9EC630; }
.gray  {	color: #BFBFBF; }

#wrap_1 {
	background-color: #A9BAC3;
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	
}
#top_form {
	float: left;
	margin-left:5px;
	padding: 0;
	width: 100%;
	font-style: normal;
}
#link_tabs {
	width: 900px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: 18px;
}

#bottom_table {
	background-color: #FFFFFF;
	border: thin none #999999;
	clear: both;
	width: 100%;
}

.normalText {font-family:Verdana, Arial, Helvetica, sans-serif;
              font-size:11px;
			  color:#666666;
			  text-decoration:none;
			  text-transform:none;
			  text-indent:inherit
			  }
			  

.Login {font-family:tahoma;
         font-size:12px;
		 color:#666666;
		 text-decoration:none;
		 font-stretch:normal;
		 font-style:normal;
		 font-weight:lighter;
		 text-shadow:#000000
		 }
.bginput {font-family:tahoma;
          font-size:11px;
		  color:#333333;
		  background-color:#FFFFCC
		  }

.border {border:#000066 1px solid }
.link  {font-family:tahoma; 
        font-size:11px;
		color:#999999;
		text-decoration:underline;
		text-align:center;
		font-weight:lighter
		}
.link:hover {font-family:tahoma; 
        font-size:11px;
		color:#FF0000;
		text-decoration:none;
		text-align:center;
		font-weight:lighter
		}
.welcomeNote {color:#0099FF;
          font-family:tahoma;
		  font-size:13px;
		 }
.light_border_blue {
	border:#D9D9FF 1px solid
	}
.light_border_red {
	border:#FFC4C4 1px solid
	}
.light_border_green {
	border:#D5FFEB 1px solid
	}
.light_border_dgray {
	border:#E7E7CF 1px solid
	}
	
errorDiv {
	 border: #eee 1px solid;
	 width:3px;
	 height:auto;
	 background-color: red
}	

.tktResultGr{
	width:auto;
	text-align:center;
	background-color:#d8faea;
	}
.tktResultRd{
	width:auto;
	text-align:center;
	background-color:#fcdede
	}	
.errRow{
	text-align:center;
	color: red;
	}
.nonErrRow{
	text-align:center;
	}	


.selectedTab {
    background:#c3d8f2 url("../images/arrow_up1.gif") no-repeat bottom center;
    height:30px;
    border-top:1px solid #CCCCCC;
    border-left:1px solid #CCCCCC;
    border-right:1px solid #CCCCCC;
    padding-left:8px;
    font-size: 14px;
}
.unselectedTab {
    background:#ffffff;
    height:30px;
    padding-left:8px;
    color: #cccccc;
}
.tabBdr {
	border: #cccccc 1px solid;
	padding: 4px;
}

.bdrTLR {
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	background: #ebeced;
	color: #61666b;	
}
.bdrLRB {
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	background: #def8ee;
	padding: 4px;
}

.color1 {
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	color: #61666b;
	background: #efebdd;
	
}
.color2 {
	border-left: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-bottom: #cccccc 1px solid;
	color: #61666b;
	background: #c8e0f7;
}

.wrapper_dv {
	width: 1024px !important;
}

#wrap_new {
	background: #FFF;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    width: 1010px;
}
#top_form_new {
	float: left;
	margin-left:0px;
	padding: 0;
	width: 100%;
	font-style: normal;
}


.agt_rep_top {
	float: left;
	font-style: normal;
	margin-left: -92px;
	padding: 0;
	width: 122%;
}

table.credit_note tr td {
	text-align: left;
}

table.credit_note2 {
	margin-left: -15px;
}

table.credit_note1 {
	margin-left: -1px;
}

table.credit_note5 {
	margin-left: -6px;
}

span.newreq {
	margin-left: -13px;
	margin-top: 2px;
	position: absolute;
}

span.newreq strong {
	color: #333;
	font-weight: normal;
}

table.credit_note6 td.crd_ri {
	text-align: right;
}